<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.stickyindexsample">

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".layout.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!--<provider android:name=".data_providers.SuggestionProvider"
            android:authorities="br.com.stickyindexsample.data_providers.SuggestionProvider" />-->

        <provider android:name=".data_providers.CustomSuggestionsProvider"
                  android:authorities="br.com.stickyindexsample.data_providers.CustomSuggestionsProvider" />

        <activity
            android:name=".ContactDetails"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>
</manifest>
